################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/edge_df.csv
Collector.log
Scanner.log
nohup.out
KismetUIPlugin.log
ssid.csv
stats.zip
