################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vscode
.vs
bin/
etc/
include/
lib/
lib64
share/
pyvenv.cfg
edge_df.csv
Collector.log
Scanner.log
nohup.out
KismetUIPlugin.log
ssid.csv
stats.zip
data_frames.csv
probes.csv
ToDo.txt
process_real_time_probes.cfg
kismet.log
*.kismet
*.kismet-journal
probes.jpg
probes_archive.csv
probes.sqlite3
watchlist.csv
probes.sqlite3-journal
probe_viewer.log
first-wifi.jpg
probes-raw.jpg
