@reboot sleep 300 && cd /home/pi/Documents/KismetUIPlugin && ./start.sh
0 0 * * * cd /home/pi/Documents/KismetUIPlugin && ./visualise.sh probes.csv /home/pi/Documents/share/wifi
1 0 * * * cd /home/pi/Documents/KismetUIPlugin && truncate -s 0 probes.csv