@reboot sleep 300 && cd /home/pi/Documents/KismetUIPlugin && ./start.sh
0 0 * * * cd /home/pi/Documents/KismetUIPlugin && ./visualise.sh probes.csv /home/pi/Documents/Share/wifi 24h
#use below if database growing too large after a few days and UI is slowing
#5 0 * * * cd /home/pi/Documents/KismetUIPlugin && ./start.sh